<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Redshirt</a>
      <div class="container nav-collapse">
        <ul class="nav">
						<li><%= link_to "Teams" %></li>
						<li><%= link_to "Settings" %></li>
						<li><%= link_to "Logout", session_path(session[:id]), class: "button logout_button", method: :delete, :confirm => "Are you sure you want to log out?" %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>